.step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

.step .step-item {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
}

.step .step-item:not(:first-child)::before {
    background: #0069d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
}

.step .step-item a {
    color: #acb3c2;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none;
}

.step .step-item a::before {
    background: #0069d9;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
}

.step .step-item.active a::before {
    background: #fff;
    border: .1rem solid #0069d9;
}

.step .step-item.active ~ .step-item::before {
    background: #e7e9ed;
}

.step .step-item.active ~ .step-item a::before {
    background: #e7e9ed;
}


.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.primary{
    background-color: #007bff;
    color: #FFF;
}

.card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
}

.card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
}

.card-counter.info{
    background-color: #26c6da;
    color: #FFF;
}

.card-counter i{
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

